.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-background;
  color: #fff;
  
  .social a {
    text-decoration: none;
    font-size: 3rem;
    color: rgb(249, 241, 241);
  }
}
