body {
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
}

.header {
  font-family: 'DM Serif Text', serif;
  
  .title-a {
    font-size: medium;
    color: $font-color;
  }
}

.box {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
}
