$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$main-background: #f0f2f5;
$footer-background: #646667;
$background-alternative-color: #e5e8e8;
$background-color: rgb(249, 242, 242);
